doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ajustes de perfil
    style.
          body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            background-image: linear-gradient(180deg, #FFFFFF 60%, #f2295b 100%)
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            margin-top: 10px;
            display: block;
            text-align: center;
        }
        input[type="text"],
        input[type="email"] {
            width: 70%;
            display: block;
            margin-left: 15%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            width: 20%;
            display: block;
            text-align: center;
            margin-left: 40%;
            padding: 10px;
            background-color: #f2295b;
            margin-top:  3%;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            color: #000;
            background-color: #f0285a;
        }
        p {
            font-size: 14px;
            color: #666;
        }
    body
        div.container
            div.box
                form#miform(action="/ingreso", method="post")
                    label(for="usuario") Usuario 
                    input#usuario(type="text", required)
                    br
                    label(for="contrasena") Contrasena 
                    input#contrasena(type="text", required)
                    br
                    button(type="submit") Ingresar
    script.
        let form = document.querySelector('#miform')
        form.addEventListener('submit', (event) =>{
            event.preventDefault()
            let usuario = document.querySelector('#usuario')
            let contrasena = document.querySelector('#contrasena')
            fetch('/user_load', {
                    method: 'POST',
                    body: JSON.stringify({
                        usuario,
                        contrasena
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(data =>{
                    if(data.ok){
                        return data.text()
                    }
                }).then(html => {
                    document.body.innerHTML = html
                })
        })
        