doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ajustes de perfil
    body
        form#miform(action="/ingreso", method="post")
            input#usuario(type="text", required)
            input#contrasena(type="text", required)
            button(type="submit") Ingresar
    script.
        let form = document.querySelector('#miform')
        form.addEventListener('submit', (event) =>{
            event.preventDefault()
            let usuario = document.queryselector('#usuario')
            let contrasena = document.queryselector('#contrasena')
            fetch('/user_load', {
                    method: 'POST',
                    body: JSON.stringify({
                        usuario,
                        contrasena
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(data =>{
                    if(data.ok){
                        return data.text()
                    }
                }).then(html => {
                    document.body.innerHTML = html
                })
        })
        